body {
    margin: 0;
    background-color: #195163;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body.padrao {background-color: #195163;}
body.verao {background-color: #FCB454;}
body.primavera {background-color: #BE5985;}
body.inverno {background-color: #5356FF;}
body.outono { background-color: #9F5255;}

.site-header {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.site-header .header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.site-header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.site-header nav a:hover {
    text-decoration: underline;
}

main {
    min-height: calc(100vh - 80px); /* altura da tela menos o header */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; /* empurra conteúdo pra baixo do header fixo */
}

.container {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    background-color: #8ebdb6;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

body.padrao .container{background-color: #8ebdb6;}
body.verao .container{background-color: #FF9B17;}
body.primavera .container{background-color: #EC7FA9;}
body.inverno .container{background-color: #378CE7;;}
body.outono .container{background-color: #E16A54;}

.container input {
    text-align: center;
    border: #195163;
    border-radius: 6px;
    margin: 10px;
    width: 400px;
    height: 50px;
    font-size: 16px;
}

.container form {
    justify-content: center;
    align-items: center;
    display: flexbox;
}

.container form button{
    height: 50px;
    width: 200px;
    margin-top: 30px;
    border-radius: 20px;
}

.noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
}

.noticia-politica, .noticia-entretenimento, .noticia-esportes, .noticia-ciencia {
    height: 300px;
    width: 300px;
    border: #195163 2px solid;
}