<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'base.html' %}
    <title>{% block title %}Notícias{% endblock %}</title>
</head>
<body class="{{ tema }}">
    {% block content %}
    <h1 style="text-align: center; margin: 0 auto 40px auto; margin-bottom: 40px;">Notícias</h1>
    <div class="noticias">
        <div class="noticia-politica">
            
        </div>
        <div class="noticia-entretenimento">
            
        </div>
        <div class="noticia-politica">
            
        </div>
        <div class="noticia-ciencia">
            
        </div>
        <div class="noticia-esportes">
            
        </div>
        <div class="noticia-politica">
            
        </div>
        <div class="noticia-entretenimento">
            
        </div>
        <div class="noticia-entretenimento">
            
        </div>
        <div class="noticia-esportes">
            
        </div>
        <div class="noticia-ciencia">
            
        </div>
        <div class="noticia-esportes">
            
        </div>
        <div class="noticia-ciencia">
            
        </div>
    </div>
    {% endblock %}
</body>
</html>