<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Página Inicial</title>
</head>
<body>
    
    <h1>Bem vindo!</h1>

    <p>Use os links abaixo para testar as páginas de erro</p>

    <ul>
        <li><a href="/area-restrita">Testar Erro 401 (Não Autorizado)</a></li>
        <li><a href="/painel-admin">Testar Erro 403 (Acesso Proibido)</a></li>
        <li><a href="/pagina-que-nao-existe">Testar Erro 404 (Não Encontrado)</a></li>
        <li><a href="/formulario">Formulário</a></li>
    </ul>

</body>
</html>